@import "tailwindcss";
@import "tw-animate-css";

html {
  @apply bg-gray-950;
}

@layer utilities {
  @keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    20% { transform: rotate(20deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(20deg); }
    80% { transform: rotate(-5deg); }
  }
  .animate-wave:hover {
    display: inline-block;
    animation: wave 1s forwards;
    transform-origin: 70% 70%;
  }
}